apiVersion: apps/v1
kind: Deployment
metadata:
  name: esme-app
  namespace: esme-tp-ghita
  labels:
    app: esme-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: esme-app
  template:
    metadata:
      labels:
        app: esme-app
    spec:
      containers:
        - name: esme-app
          image: ghitaesme/esme-app:v1.0
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "100m"
              memory: "128Mi"
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 2
            periodSeconds: 5
